<!DOCTYPE html>
<html>
<head>
    <title>FIU Tech Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
</head>
<body>
<section id="header">
    <div class="inner">
        <span class="icon solid major fa-cloud"></span>
        <h1>Answer the following question:</h1>
        <form method="post">
            <p>{{ question }}</p>
            <div class="radio-container">
                {% for option in options %}
                    <div class="radio-item">
                        <input type="radio" name="answer" value="{{ option['answer'] }}">
                        <label for="option">{{ option['answer'] }}</label>
                    </div>
                {% endfor %}
            </div>
            <br>
            <input type="submit" value="Next">
        </form>
    </div>
</section>
<section id="footer">
    <ul class="icons">
        <li><a href="https://x.com/FIU" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/floridainternational/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/fiuinstagram/?hl=en" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
</section>
</body>
</html>
